<h1>SÍGUENOS EN REDES SOCIALES</h1>

  <div class="rrss" style="margin-top:50px">
    <a style="color:white;" href="https://twitter.com/verazdiario" title="Síguenos en Twitter"><i
        class="fa-brands fa-twitter fa-3x"></i></a>
    <a style="color:white" href="https://www.instagram.com/verazdiario/" title="Síguenos en Instagram"><i
        class="fa-brands fa-instagram  fa-3x"></i></a>
    <a style="color:white" href="/sobre-nosotros"><i class="fa-solid fa-envelope  fa-3x" title="Contacta con nosotros"></i></a>
    <a style="color:white" href="https://www.linkedin.com/in/sergio-lopez-alvarez" title="Síguenos en LinkedIn"><i
        class="fa-brands fa-linkedin-in  fa-3x"></i></a>
  </div>

  
<!--ESTILOS Y SCRIPTS-->
<script>
        window.onload = function () {
            document.getElementById('nosotros').style.fontWeight = 'bold';
            document.getElementById('nosotros').style.textDecoration = 'overline';
            document.getElementById('rrss').style.fontWeight = 'bold';
        }
</script>

  <style>
    .news-wrapper{
        display:none;
    }
</style>